body {
  background: blanchedalmond;
  margin:0;
  font-family: sans-serif;
  text-align: center;
  color: blueviolet;
}

.container{
  display:flex;
    min-height:100vh;
    flex-direction:column;
    justify-content: space-between;
}
nav{
  min-height:40vh;
  flex-grow: 3;
  background-color: purple;
}
aside{
  background-color: hotpink;
  flex-grow: 1;
}
header{
  background-color: pink;
  flex-grow: 1;
}
@media (min-width:600px)  {
  .container{
      flex-direction:row;
      flex-wrap: wrap;
  }
 nav {
  max-width: 85%;
 }
 header{
  width:100%;
 }
}